@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-indicators {
  bottom: -1.7rem;
}

#container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}